header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 120px;
    img {
        height: 50px;
        cursor: pointer;
    }
    div {
        display: flex;
        gap: 32px;
    }
    a {
        color: white;
        text-decoration: none;
        font-weight: 600;
        &:hover {
            color: rgba(255, 255, 255, 0.8);
        }
    }
}

.headerDark {
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.darkLinks {
    a {
        color: black;
        &:hover {
            color: rgba(0, 0, 0, 0.8);
        }
    }
}