<div>
    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Georg Stra&szlig;berger<br /> Gartenstra&szlig;e 3<br /> 73650 Winterbach</p>

    <h2>Kontakt</h2>
    <p>Telefon: 017696477716<br /> E-Mail: georg.strassberger@hotmail.de</p>

    <p>Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a></p>

    <p>“Created my free logo at "<a href="https://logomakr.com" target="_blank">LogoMakr.com</a>"</p>
</div>